node_modules
.next
.env
.environment
.env.local
.env.rinkeby
.env.mainnet
.env.localhost
.env.local
dist
tsconfig.tsbuildinfo
yarn-error.log
.openzeppelin
!.openzeppelin/goerli*.json
!.openzeppelin/rinkeby*.json
!.openzeppelin/mainnet*.json
artifacts
artifacts-ovm
cache
cache-ovm
typechain
**/.DS_Store
